<ng-container *ngIf="bookBuilderForm; else spinner" >
  <form class="form" [formGroup]="bookBuilderForm">
    <h1>Список проектов:</h1>
    <div formArrayName="projects" *ngIf="projects$ | async as projects" class="projects">
      <ng-container *ngFor="let project of projects; let i = index" [formGroupName]="i">
        <ng-container *ngTemplateOutlet="SomeTmpl; context: { project, i, formGroup: bookBuilderForm.controls.projects.controls[i] }"> </ng-container>
      </ng-container>
    </div>
  </form>
</ng-container>


<!-- TEMPLATES -->
<ng-template #SomeTmpl let-p="project" let-i="i" let-formGroup="formGroup">
  <div class="projects__item" [formGroup]="formGroup">
    <span>Проект - id: {{ p.project.id }}</span>
    <app-dropdown-multiselector 
      [formControl]="formGroup.controls.template"
      optionLabel="template" 
      placeholder="serch template"
      (onFilterEvent)="onCustomFilterEvent($event)"
      [options]="(templatesSource$ | async)!"
      optionLabel="id"
      >
    </app-dropdown-multiselector>
    <button type="button" (click)="buildProject(formGroup)">Собрать</button>
    <div *ngIf="formGroup.controls.buildedProject.value as value" >Собранный проект: {{value | json}}</div>
    <div *ngIf="formGroup.controls.error.value as error" >Ошибка: {{error}}</div>
    <!-- <div *ngIf="formGroup.invalid " >some templates error</div> -->
  </div>
</ng-template>


<ng-template #spinner>
  <span>LOADING...</span>
</ng-template>
